*{
    padding: 0%;
    margin: 0%;
}
.mystyle
{
    width:"100%";
    position: static;
    height:"100px";
    background-color :#23ddce;
    border: 0;
}
nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
    text-decoration: none;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius:0;
	text-transform: uppercase;
}
a.active, a:hover{
	background: #1b9bff;
	transition: 5s;
}