#navbar {
  overflow:hidden;
  left: .5%;
  top: .5%;
  background-color: #b4bfd1;
  margin: auto;
  border: 1px solid red;
  font-family: fantasy;
  font-size: 150%;
  }
a:link {
  text-decoration: none;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  font-family: fantasy;
}

#navbar a:hover {
  background-color: #bac9e0;
  color: black;
}
#navbar a.active {
  background-color: #b4bfd1;
  color: black;
}

#table{
  border: 1px solid red;
  position: fixed;
  top:10%;
  left: .5%;
  margin: auto;
  background-color:#b4bfd1;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  
}
#s1{
  
}
#sugstn{
  position: fixed;
  border: 1px solid red;
  top:10%;
  right:.5%;
  width: 79.5%;
  height:80%;
  background-color:#b4bfd1;
  overflow: auto;
  margin: auto;
  
}
.footer {
  position: fixed;
  left: .5%;
  bottom: 0.5%;
  height: 4.9%;
  width: 99%;
  background-color:#b4bfd1;
  color: #81219e;
  text-align: right;
  margin: auto;
  border: 1px solid red;
  font-family: fantasy;
}
.ShowInput{
  position: fixed;
  border: 1px solid red;
  top:10%;
  right:.5%;
  width: 79.5%;
  height:80%;
  background-color:#b4bfd1;
  overflow: auto;
  margin: auto;
  
}